<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

  <div class="contenedor_productos">
    <% @products.each do |product| %>
      <div class="productos">
        <div><strong>Nombre: </strong><%= product.nombre %></div>
        <div><strong>Descripcion: </strong><%= product.descripcion %></div>
        <div><strong>Codigo: </strong><%= product.codigo %></div>
        <div><strong>Precio: </strong><%= product.precio %></div>
        <div><strong>Categoria: </strong><%= product.categoria %></div>
        <div><strong>Subcategoria: </strong><%= product.subcategoria %></div>
        <div><strong>Marca: </strong><%= product.marca %></div>
        <%if customer_signed_in? %>
        <div>      <%= form_tag({controller: "orders", action: "add_product" }, :method => "get") do %>
                      <%= hidden_field_tag( :id , product.id ) %><br>
                      <%= text_field_tag( :cant ) %><br>
                      <%= submit_tag("Pedir") %><br>
                      <% end %>
        </div>
        <% else %>
        <div><%= link_to 'Show', product %></div>
        <div><%= link_to 'Edit', edit_product_path(product) %></div>
        <div><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <% end %>
      </div>
      <% end %>


    
   <div class="New_product"> <%if dealer_signed_in? %>
      <%= link_to 'New Product', new_product_path %>
    <% end %></div>
    </div>
</div>
