<!DOCTYPE html>
<html>
<head>
  <title>Invoice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if signed_in? %>
	<nav>
		<ul>
			<% if customer_signed_in? %>
				<%= render "layouts/navparacustomer" %>
			<% elsif dealer_signed_in? %>
				<%= render "layouts/navparadealer" %>
			<% end %>
		</ul>
	</nav>
	<% end %>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
